groq
edge-tts
moviepy==1.0.3
yt-dlp
requests
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
supabase
flask
praw
imageio-ffmpeg
gunicorn
apscheduler
tzdata
tzlocal
pytz
google-api-python-client
